<nav class="navbar" style="background-color: #3D144C;">
  <a class="navbar-brand" href="#">
    <img src="/images/Gnarly Games.png" width="100" height="auto" class="d-inline-block align-top" alt="Gnarly Games" />
  </a>
  <div id="gnarlyGames" class="navbar-text">GNARLY GAMES</div>

 <div class="text-center">
    <a href="" id="loginBtn{{@index}}" class="btn ml-5" data-toggle="modal" data-target="#modalLRForm{{@index}}">LogIn/Register</a>
  </div>
  </nav>
<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
              Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
              Register</a>
          </li>
        </ul>

        <!-- Tab panels -->
        <div class="tab-content">
          <!--Panel 7-->
          <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

            <!--Body-->
            <div class="modal-body mb-1">
              <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                <input type="email" id="modalLRInput10" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="modalLRInput10">Your email</label>
              </div>

              <div class="md-form form-sm mb-4">
                <i class="fas fa-lock prefix"></i>
                <input type="password" id="modalLRInput11" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="modalLRInput11">Your password</label>
              </div>
              <div class="text-center mt-2">
                <button class="btn btn-info">Log in <i class="fas fa-sign-in ml-1"></i></button>
              </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                data-dismiss="modal">Close</button>
            </div>

          </div>
          <!--/.Panel 7-->

          <!--Panel 8-->
          <div class="tab-pane fade" id="panel8" role="tabpanel">

            <!--Body-->
            <div class="modal-body">
              <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="modalLRInput12">Your email</label>
              </div>

              <div class="md-form form-sm mb-5">
                <i class="fas fa-lock prefix"></i>
                <input type="password" id="modalLRInput13" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="modalLRInput13">Your password</label>
              </div>

              <div class="md-form form-sm mb-4">
                <i class="fas fa-lock prefix"></i>
                <input type="password" id="modalLRInput14" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="modalLRInput14">Repeat password</label>
              </div>

              <div class="text-center form-sm mt-2">
                <button class="btn btn-info">Sign up <i class="fas fa-sign-in ml-1"></i></button>
              </div>

            </div>
            <!--Footer-->
            <div class="modal-footer">
              <div class="options text-right">
                <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
              </div>
              <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                data-dismiss="modal">Close</button>
            </div>
          </div>
          <!--/.Panel 8-->
        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login / Register Form--> 
<div class="text-center">
  <a href="" class="btn ml-5" data-toggle="modal" data-target="myModal{{@index}}">LogIn/Register</a>
{{!-- </div> --}}
{{!-- end of modal --}}

<!-- Genre/Filters -->
<nav class="btnNav navbar" style="background-color: #FAEB2C;">
  <a>
    <button type="button" class="filterBtns btn m-2">
      Home
    </button>
    <button type="button" class="filterBtns btn m-2">
      Genre
    </button>
    <button type="button" class="filterBtns btn m-2">
      System
    </button>
    <button type="button" class="filterBtns btn m-2">
      Reviews
    </button>
    <button type="button" class="filterBtns btn m-2">
      Saved Games
    </button>
  </a>
  <form class="form-inline btn my-2 my-lg-0 ml-auto">
    <input class="form-control mr-sm-2" type="Search" placeholder="Animal Crossing" aria-label="Search"
      aria-label="Search" />
    <button class="btn btn-outline-* my-2 my-sm-2" type="search"
      style="color: #3D144C; border: solid 2px #3D144C; font-weight: 700;">
      Search
    </button>
    <button type="button" class="filterBtns btn btn-primary ml-3">
      Game Finder Quiz
    </button>
  </form>
</nav>
<div>
  <ul>
    {{#each game}}
    {{ games/game-block }}
    {{/each}}
  </ul>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script>
<script src="js/games.js"></script>
<script src="js/passwordform.js"></script>
<script>
  $(document).ready(function () {
    $(".variable-width").slick({
      infinite: true,
      speed: 300,
      centerMode: true,
      variableWidth: true,
      infinite: true,
      autoplay: true,
      autoplaySpeed: 2000,
    });
  });
</script>