<nav class="navbar" style="background-color: #3D144C;">
  <a class="navbar-brand" href="#">
    <img src="/images/Gnarly Games.png" width="100" height="auto" class="d-inline-block align-top" alt="Gnarly Games" />
  </a>
  <div id="gnarlyGames" class="navbar-text">GNARLY GAMES</div>
  <form class="form-inline my-2 my-lg-0">
    <button href="#" id="loginBtn" class="btn ml-5">
      Log In/Register
    </button>
  </form>
</nav>
<!-- Genre/Filters -->
<nav class="btnNav navbar" style="background-color: #FAEB2C;">
  <a>
    <button type="button" class="filterBtns btn m-2">
      Home
    </button>
    <button type="button" class="filterBtns btn m-2">
      Genre
    </button>
    <button type="button" class="filterBtns btn m-2">
      System
    </button>
    <button type="button" class="filterBtns btn m-2">
      Reviews
    </button>
    <button type="button" class="filterBtns btn m-2">
      Saved Games
    </button>
  </a>
  <form class="form-inline btn my-2 my-lg-0 ml-auto">
    <input class="form-control mr-sm-2" type="Search" placeholder="Animal Crossing" aria-label="Search"
      aria-label="Search" />
    <button class="btn btn-outline-* my-2 my-sm-2" type="search"
      style="color: #3D144C; border: solid 2px #3D144C; font-weight: 700;">
      Search
    </button>
    <button type="button" class="filterBtns btn btn-primary ml-3">
      Game Finder Quiz
    </button>
  </form>
</nav>
<div>
  <ul>
    {{#each game}}
    {{ games/game-block }}
    {{/each}}
  </ul>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script>
  $(document).ready(function () {
    $(".variable-width").slick({
      infinite: true,
      speed: 300,
      centerMode: true,
      variableWidth: true,
      infinite: true,
      autoplay: true,
      autoplaySpeed: 2000,
    });
  });
</script>