<div class="multi-row container">
      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text">{{summary}}</p>
                <button type="button" id="{{gameId}}" class="save-game filterBtns btn m-2">+</button>
            </div>
          </div>
        </div>
      </div>
    </div>
